/* .body_font {
  position: absolute;
  width: 560px;
  height: 53px;
  left: 412px;
  top: 186px;
} */

.nav {
  background-color: #f4ebde;
}

.navlink {
  color: #254f35 !important;
}
/* .header_text {
  position: absolute;
  width: 560px;
  height: 53px;
  left: 412px;
  top: 186px;

  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  /* identical to box height */

/* text-align: center;
} */
.button {
  background-color: #254f35;
}
